{% extends "base.html" %}
{% block banner %}
					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>{{HEADER_TITLE}}</h2>
								<p>{{HEADER_SUBTITLE}}</p>
							</header>
						</section>
{% endblock banner %}

{% block modal %}
                    <!-- Modal -->
                    {% if MODAL_LINK and MODAL_TEXT and MODAL_LAB %}
                        <section id="modal">
                            <div class="cModal" id="modal1">
                                <header>
                                    <h2>Information importante</h2>
                                </header>
                                {{ MODAL_TEXT }}
                                <footer>
                                    <ul class="actions">
                                        <li><a href="{{ SITEURL }}/{{ MODAL_LINK }}" class="button large">{{ MODAL_LAB }}</a></li>
                                        <li><a href="#modal1" class="button alt large">Non, merci</a></li>
                                    </ul>
                                </footer>
                            </div>
                        </section>
                    {% endif %}
{% endblock modal %}

{% block intro %}
					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon solid featured fa-star"></i>
										<header>
											<h2>{{ STAR_HEADER }}</h2>
										</header>
                                        {% if STAR_TEXT is defined %}
                                        <p>{{ STAR_TEXT }}</p>
                                        {% else %}
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        {% endif %}
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon solid featured alt fa-users"></i>
										<header>
											<h2>{{ SOLIDAR_HEADER }}</h2>
										</header>
                                        {% if SOLIDAR_TXT is defined %}
                                        <p>{{ SOLIDAR_TXT }}</p>
                                        {% else %}
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        {% endif %}
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon solid featured alt2 fa-map-marker"></i>
										<header>
											<h2>{{ ORGA_HEADER }}</h2>
										</header>
                                        {% if ORGA_TEXT is defined %}
                                        <p>
                                            {{ ORGA_TEXT }}
                                        </p>
                                        {% else %}
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        {% endif %}
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
                                    {% if LIBRE_LINK and LIBRE_LAB %}
                                    <li><a href="{{ SITEURL }}/{{ LIBRE_LINK }}" class="button large">{{ LIBRE_LAB }}</a></li>
                                    {% else %}
									<li><a href="#" class="button large">Get Started</a></li>
                                    {% endif %}
                                    {% if SOLIDAIRE_LINK and SOLIDAIRE_LAB %}
                                    <li><a href="{{ SITEURL }}/{{ SOLIDAIRE_LINK }}" class="button alt large">{{ SOLIDAIRE_LAB }}</a></li>
                                    {% else %}
									<li><a href="#" class="button alt large">Learn More</a></li>
                                    {% endif %}
								</ul>
							</footer>
						</section>
{% endblock intro %}

{% block content %}
						<div class="row">
							<div class="col-12">
                            {% if BLOG is defined %}
								<!-- Blog -->
									<section>
										<header class="major">
											<h2>Articles du Blog</h2>
										</header>
                                    {% for article in articles_page.object_list %}
                                        {% if loop.index0 % 3  == 0 %}
										<div class="row">
                                            {% endif %}
											<div class="col-6 col-12-small">
												<section class="box">
                                                {% if article.picture is defined %}
													<a href="{{ SITEURL }}/{{ article.url }}" class="image featured"><img src="{{ SITEURL }}/{{ article.picture }}" alt="" /></a>
                                                {% endif %}
													<header>
														<h3>{{article.title }}</h3>
														<p>{{ article.date }}</p>
													</header>
													{{ article.summary }}
													<footer>
														<ul class="actions">
															<li><a href="{{ SITEURL }}/{{ article.url }}" class="button icon solid fa-file-alt">Lire la suite</a></li>
														</ul>
													</footer>
												</section>
											</div>
                                        {% if loop.index % 3  == 0 %}
										</div>
                                        {% endif %}
                                    {% endfor %}
									</section>
                            {% endif %}
							</div>
						</div>
{% endblock content %}
